
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myMatchLabel">Create or edit a Match</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.match.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.match.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_hometeam">Echipa gazdă</label>
            <input type="text" class="form-control" name="hometeam" id="field_hometeam"
                    ng-model="vm.match.hometeam"
                    required/>
            <div ng-show="editForm.hometeam.$invalid">
                <p class="help-block"
                    ng-show="editForm.hometeam.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_awayteam">Echipă oaspete</label>
            <input type="text" class="form-control" name="awayteam" id="field_awayteam"
                    ng-model="vm.match.awayteam"
                    required/>
            <div ng-show="editForm.awayteam.$invalid">
                <p class="help-block"
                    ng-show="editForm.awayteam.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_homegoals">Goluri gazdă</label>
            <input type="number" class="form-control" name="homegoals" id="field_homegoals"
                    ng-model="vm.match.homegoals"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_awaygoals">Goluri oaspete</label>
            <input type="number" class="form-control" name="awaygoals" id="field_awaygoals"
                    ng-model="vm.match.awaygoals"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_location">Locație</label>
            <input type="text" class="form-control" name="location" id="field_location"
                    ng-model="vm.match.location"
                    required/>
            <div ng-show="editForm.location.$invalid">
                <p class="help-block"
                    ng-show="editForm.location.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_description">Descriere (etapă)</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="vm.match.description"
                    required/>
            <div ng-show="editForm.description.$invalid">
                <p class="help-block"
                    ng-show="editForm.description.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_matchdatetime">Data meciului</label>
                <div class="input-group">
                    <input id="field_matchdatetime" type="text" class="form-control" name="matchdatetime" datetime-picker="{{dateformat}}" ng-model="vm.match.matchdatetime" is-open="vm.datePickerOpenStatus.matchdatetime"
                    required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('matchdatetime')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.matchdatetime.$invalid">
                <p class="help-block"
                    ng-show="editForm.matchdatetime.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.matchdatetime.$error.ZonedDateTimelocal">
                    This field should be a date and time.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label for="field_matchcompetition">Competiție</label>
            <select class="form-control" id="field_matchcompetition" name="matchcompetition" ng-model="vm.match.matchcompetition" ng-options="competition as competition.name for competition in vm.competitions track by competition.id" required>
            </select>
        </div>
        <div ng-show="editForm.matchcompetition.$invalid">
            <p class="help-block"
                ng-show="editForm.matchcompetition.$error.required">
                This field is required.
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
