<div class="row">
    <jhi-alert></jhi-alert>
    <div ng-repeat="news in vm.news | orderBy:'createdDate':'reverse'">
        <div class="col-md-6 clickableNews" ui-sref="clubNews-detail({id:news.id})">
            <div class="col-sm-6">
                <a ng-if="news.image">
                            <img data-ng-src="{{'data:' + news.imageContentType + ';base64,' + news.image}}" class="img-thumbnail" style="max-height:10em" alt="news image"/>
                        </a>
            </div>
            <div class="col-sm-6">
                <div class="col-md-12">
                    <h4>{{news.title}}
                        <h4>
                </div>
                <div class="col-md-12 text-danger">{{news.createdDate | date:'hh/MM/yyyy HH:mm'}}</div>
            </div>
        </div>
    </div>   
</div>